/*背景部分*/
.works_background{
    background-image: url(../../common/img/hero.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}

.works-background-title{
    color: #fff;
    text-align: center;
    padding-top: 4%;
}

.works_big__title{
    font-size: 36px;
    letter-spacing: 2px;
}

.works_sub__title{
    font-size: 13px;
    display: block;
}



/*ワークス画面 一覧*/
.works-screen-frame{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 6%;
}

.works-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 7%;
}

.works-flex1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
}

.works-screen-img-title{
    width: 33%;
    display: inline-block;
    text-align: center;
}

.works-screen-img{
    width: 90%;
    box-shadow: -4px -4px 15px lightgray;
    transition-duration: 0.5s;/*変化の時間*/
}

.works-screen-img:hover{
    transform: scale(1.2,1.2);/*画像の拡大*/
    cursor: pointer;/*カーソルをポインターにする*/
}

.works-screen-title{
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 6%;
}





/*レスポンシブ top.css(ipad mini)*/
@media screen and (max-width :768px){
/*全体幅*/
.responsive-ipad-frame{
    margin: 0 auto;
    max-width: 700px;
}

/*WORKS*/
.works-screen-img-title{
    width: 100%;
}

.works-screen-img{
    width: 100%;
}

.works-screen-title{
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 17px;
}

.works-flex{
    margin-top: 10%;
}

.works-flex1{
    margin-top: 0%;
    margin-bottom: 5%;
}

}




/*レスポンシブ top.css(iphone SE)*/
@media screen and (max-width :375px){
/*全体幅*/
.responsive-iphone-frame{
    margin: 0 auto;
    max-width: 320px;
}

/*背景部分*/
.works_background{
    height: 230px;
}

.works-background-title{
    padding-top: 15%;
}

/*WORKS*/
.works-screen-title{
    margin-bottom: 12%;
    font-size: 16px;
}

.works-flex{
    margin-top: 14%;
}

.works-flex1{
    margin-bottom: 10%;
}

}