/*背景部分*/
.recruit_background{
    background-image: url(../../common/img/hero.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}

.recruit-background-title{
    color: #fff;
    text-align: center;
    padding-top: 4%;
}

.recruit_big__title{
    font-size: 36px;
    letter-spacing: 2px;
}

.recruit_sub__title{
    font-size: 13px;
    display: block;
}


/*enjoy 全画面*/
.recruit_overall_background{
    background-image: url(../img/bg-geometry.png);
}


/*enjoy 画面*/
.enjoy-overall{
    padding-bottom: 5%;
    padding-top: 10%;
}

.enjoy-title{
    font-size: 72px;
    text-align: center;
    letter-spacing: 2px;
    color: #391e88;
}

.enjoy-sub-title{
    font-size: 32px;
    font-weight: normal;
    text-align: center;
    margin-top: 2%;
    color: #391e88;
}

.enjoy-text{
    font-size: 16px;
    text-align: center;
    margin-top: 3%;
    letter-spacing: 2px;
    line-height: 35px;
}

.enjoy-background{
    background-image: url(../img/recruit01.jpg);
    background-size: cover;
    background-position: center 90%;
    clip-path: polygon(100% 0% , 0% 15% , 0% 100% , 100% 85%);
    height: 780px;
}


/*募集中の職種 画面*/
.Occupation-overview-frame{
    max-width: 1000px;
    margin: 0 auto;
}

.Occupation_center{
    text-align: center;
    margin-top: 5%;
}

.big__title12{
    font-size: 36px;
    letter-spacing: 2px;
    color: #391e88;
    margin-bottom: 5%;
}

.Occupation_frame_frame{
    border: 1px solid #b067cf;
    border-radius: 50px;
    padding: 8% 10% 5% 10%;
    background-color: white;
}

.Occupation_sub_title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 8%;
    font-weight: bold;
    letter-spacing: 3px;
}

.Occupation-flex{
    display: inline-flex;
    margin-top: 3%;
}

.pc_none_responsive_block{
    display: none;
}

.pc_none_responsive_block1{
    display: none;
}

dt{
    width: 200px;
}

dd{
    width: 600px;
    letter-spacing: 2px;
}

.Occupation-ul{
    margin-left: -31px;
}

.link-Occupation{
    text-align: center;
}

.Occupation-btn{
    border: 1px solid #fff;
    padding: 20px 73px;
    border-radius: 32px;
    display: inline-block;
    margin: 30px 0 10px 0;
    text-decoration: none;
    font-weight: bold;
    background-color: #7633a4;
    color: #fff;
}

.Occupation-sub-btn{
    display: block;
}



/*社内ムービー 画面*/
.In-house-MOVIE_center{
    text-align: center;
}

.big__title13{
    font-size: 36px;
    letter-spacing: 2px;
    color: #391e88;
    margin-top: 10%;
    margin-bottom: 4%;
}

.In-house-MOVIE_Youtube{
    margin-bottom: 15%;
}





/*レスポンシブ top.css(ipad mini)*/
@media screen and (max-width :768px){
/*enjoy 画面*/
.enjoy-title{
    font-size: 48px;
}

.enjoy-sub-title{
    font-size: 18px;
}

.enjoy-text{
    font-size: 15px;
    margin-bottom: -1%;
}

.enjoy-background{
    clip-path: polygon(100% 0% , 0% 10% , 0% 100% , 100% 90%);
    height: 780px;
}



/*募集中の職種 画面*/
.Occupation-overview-frame{
    margin: 0 auto;
    max-width: 700px;
}

.Occupation-flex{
    display: block;
}

.Occupation-p{
    padding-top: 4%;
}

.Occupation-ul{
    padding-top: 3%;
}

.pc_none_responsive_block{
    display: block;
}

.pc_none_responsive_block1{
    display: none;
}

dd{
    width: 550px;
    padding-top: 4%;
}

.Occupation-ul{
    margin-left: -13px;
}



/*社内ムービー 画面*/
iframe{
    height: 400px;
}

}




/*レスポンシブ top.css(iphone SE)*/
@media screen and (max-width :375px){
/*背景部分*/
.recruit_background{
    height: 230px;
}

.recruit-background-title{
    padding-top: 15%;
}

.pc_none_responsive_block1{
    display: block;
}



/*enjoy 画面*/
.enjoy-title{
    line-height: 55px;
    margin-top: 10%;
    font-family: "Montserrat",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
}

.enjoy-sub-title{
    margin: 6% 0;
}

.enjoy-text{
    line-height: 25px;
    margin-bottom: 10%;
}

.enjoy-background{
    height: 400px;
}



/*募集中の職種 画面*/
.Occupation-overview-frame{
    margin: 0 auto;
    max-width: 320px;
}

.big__title12{
    font-size: 24px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.Occupation_frame_frame{
    border-radius: 30px;
}

.Occupation_sub_title{
    font-size: 18px;
    padding-top: 10%;
    padding-bottom: 5%;
}

dd{
    width: 250px;
}

.link-Occupation{
    margin-top: -4%;
    margin-bottom: 4%;
}

.Occupation-sub-btn{
    font-size: 12px;
}



/*社内ムービー 画面*/
.big__title13{
    font-size: 24px;
    margin-top: 30%;
    margin-bottom: 10%;
}

.In-house-MOVIE_Youtube{
    margin-bottom: 30%;
}

iframe{
    height: 200px;
}

}